body {
	color: white;
}

.main-bgColor {
	background-color: #292929 !important;
}

.main-TextColor {
	color: #919191 !important;
}

.secondary-bgColor {
	background-color: #131313 !important;
}

.border-radius-15 {
	border-radius: 15px;
}

.filter {
	background-color: #131313;
	border-radius: 15px;
}

.filter .title {
	font-size: 18px;
	line-height: 16px;
	color: #acacac;
	font-weight: 400;
}

.filter hr {
	max-width: 150px;
	height: 2px;
	color: white;
	margin-bottom: 40px;
}

.filter .dropdown {
	min-width: 90% !important;
}
.filter .dropdown button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 90% !important;
	border: none;
}
